* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  background-color: hsl(257, 40%, 49%);
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: "Open Sans", sans-serif;
  color: white;
}
.wrapper {
  width: 304px;
  margin: 0 auto;
}
.logo img {
  width: 120px;
  margin-top: 3vh;
  margin-bottom: 2vh;
}
.mockup img {
  width: 296px;
  margin-bottom: 3vh;
  margin-left: 2px;
}
h1 {
  font-family: "Poppins", sans-serif;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
}
div p {
  line-height: 26px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 5vh;
}

div > a {
  display: inline-block;
  width: 200px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.281);
  color: hsl(257, 40%, 49%);
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  margin-left: 52px;
  margin-bottom: 5vh;
}
section {
  margin-left: 90px;
}
section a {
  display: inline-block;
  width: 28px;
  height: 28px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 9px;
  margin-bottom: 5vh;
}
section a img {
  height: 14px;
}
section a:nth-child(1) img {
  transform: translate(110%, 25%);
}
section a:nth-child(2) img {
  transform: translate(55%, 30%);
}
section a:nth-child(3) img {
  transform: translate(60%, 30%);
}
footer {
  position: relative;
  font-size: 10px;
  width: 100%;
  bottom: 20px;
  padding-top: 20px;
  text-align: center;
  transform: translateY(-25%);
}
footer a {
  text-decoration: none;
  color: white;
}
/* @media (min-width: 400px) {
  main {
    background-image: url(../images/bg-desktop.svg);
    background-size: cover;
  }
} */
