/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
* {
  margin: 0;
  padding: 0;
}
main {
  width: 100vw;
  height: 100vh;
  background-color: hsl(257, 40%, 49%);
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
  color: white;
}

h1 {
  font-family: "Poppins", sans-serif;
}
div a {
  display: inline-block;
  width: 200px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.281);
  color: hsl(257, 40%, 49%);
  text-decoration: none;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
}
section a {
  display: inline-block;
  width: 28px;
  height: 28px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 10px;
}
section a i {
  font-size: 30px;
  color: white;
}
section a:first-child,
section a:last-child {
  text-align: center;
}
@media (min-width: 400px) {
  main {
    background-image: url(../images/bg-desktop.svg);
    background-size: cover;
  }
}
